*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
    color: white;
    padding-top: 80px;
}

:root
{
    --header-height: 80px;
}

.background
{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .pokeball
    {
        width: 400px;
        height: auto;
        position: absolute;
        transform: translate(-80px, -60px) scale(1.5) rotate(10deg);
        transform-origin: center center;
        transition: transform 0.3s ease-out;
    }

    .pokemon-art
    {
        width: 335px;
        height: auto;
        position: absolute;
        background-size: contain;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

.header
{
    height: var(--header-height);
    background: radial-gradient(circle, rgba(126, 7, 7, 1) 0%, rgba(195, 1, 1, 1) 100%);
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .search
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 5px;

        .search-bar
        {
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 5px;
        }

        .search-button
        {
            background-color: white;
            border: 2px solid black;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}

.container
{
    max-width: 1200px;
    margin-left: 420px;
    display: flex;
    justify-content: center;
}

.select
{
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    .pokemon-card
    {
        width: 135px;
        height: 150px;
        list-style-type: none;
        border: 3px solid white;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 5px 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        scroll-margin-top: 150px;
        scroll-margin-bottom: 10px;
    }

    .pokemon-card:hover
    {
        /* maak nog dat de hover de arrowdown overschrijft */
        cursor: pointer;
        border-color: grey;
        transition: 0.3s;
    }
}

.card-selected
{
    cursor: pointer;
    border-color: grey;
    scale: 1.1;
    transform-origin: left center;
    transition: 0.3s;
}

@media screen and (max-width: 992px)
{
    .background .pokeball
    {
        width: 370px;
    }
}

@media screen and (max-width: 768px)
{

}